<!DOCTYPE html>
<html>
<head>
  <title>Server state</title>
  <meta name='description' content='Server state from Submarine.js' ></meta>
  <meta name='viewport' content='width=device-width, initial-scale=1'></meta>
  <link rel='shortcut icon' href='https://www.submarinejs.blue/favicon.ico'></link>
<body>
  <style>
    * {
      outline: 0;
      border: 0;
      margin: 0;
      padding: 0;
      word-wrap: break-word;
      background-color: rgba(0,0,0,0.0);
      font-family: helvetica;
    }
    body {
      /*background-color: rgba(70,130,180,1.0);*/
      background-color: rgba(51,51,51,1.0);
    }
  </style>
  <script src='https://cdn.jsdelivr.net/npm/vue'></script>
  <script src='https://cdn.jsdelivr.net/npm/vuex'></script>

{{% header %}}

  <style>
    .spacer {
      margin: 68px 0px 0px 0px;
    }
  </style>
  <div class='spacer'></div>

{{% main %}}

  <div class='spacer'></div>

  <style>
    #error {
      display: flex;
      justify-content: center;
      align-items: center;

      position: fixed;
      top: 68px;
      left: 17px;
      bottom: 68px;
      right: 17px;

      z-index: 119;

      padding: 17px;

      overflow: scroll;
      color: rgba(255,0,0,1.0);
      background-color: rgba(51,51,51,0.68);

    }
    #error_none {
      display: none;
    }
    #error_baner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      position: fixed;

      padding: 17px 17px 17px 17px;

      border-style: solid;
      border-width: 4px;
      border-color: rgba(255,0,0,1.0);
      border-radius: 17px 17px 17px 17px;

      background-color: rgba(0,0,0,1.0);

      animation: flicker 0.85s linear 0s infinite alternate none running;
    }
    @keyframes flicker {
      0% {
        opacity: 0.0;
      }
      50% {
        opacity: 0.34;
      }
      100% {
        opacity: 0.85;
      }
    }
    #error h2 {
      font-size: 34px;
    }
    #error p {
      font-size: 17px;
    }
    #error_log {
      position: absolute;
      top: 0px;
      left: 17px;
      bottom: 0px;
      right: 17px;
    }
    #error_log pre {
      white-space: pre-wrap;

      font-size: 17px;
    }
    #error_cache {
      
    }
    #error_cache_none {
      display: none;
    }
  </style>
  <div id='{{% error %}}'>
    <div id='error_log'>
      <pre>{{% error_log %}}</pre>
    </div>
    <div id='error_baner'>
      <h2>ERROR</h2>
      <p>Something wrong occurred</p>
      <p id='{{% error_cache %}}'>The old cache is held</p>
    </div>
  </div>

{{% footer %}}

</body>
</html>
