<style>
  footer {
    position: fixed;
    bottom: 0px;

    display: flex;
    justify-content: flex-end;

    padding: 17px 0px 17px 0px;

    width: 100%;

    background-color: {{% footer_color %}};
  }
  footer p {
    margin: 0px 17px 0px 0px;

    color: rgba(255, 215,0, 1.0);
    font-size: 17px;
  }
</style>
<footer>
  <p>powered by <a
      href='https://www.submarinejs.blue/'
      target='_blank'
    >Submarine.js</a>
  </p>
</footer>
