<style>
  a {
    cursor: pointer;
  }
  header {
    position: fixed;
    top: 0px;

    display: flex;

    padding: 17px 0px 17px 0px;;

    width: 100%;

    background-color: {{% header_color %}};

  }
  header a {
    text-decoration: none;
  }
  header img {
    margin: 0px 0px 0px 17px;
    width: 17px;
    height: 17px;
  }
  header h1 {
    margin: 0px 0px 0px 17px;

    color: rgba(255, 215,0, 1.0);
    font-size: 17px;
  }
</style>
<header>
  <a href='https://www.submarinejs.blue' target='_blank'>
    <img src='https://www.submarinejs.blue/favicon.ico'></img>
  </a>
  <h1>Server state</h1>
  
</header>
