<style>
  #health-{{% idx %}} {
    background-color: {{% health_color %}};
  }
</style>
<div class='host'>
  <span id='health-{{% idx %}}' class='health'></span>
  <h2 class='target'>{{% target %}}</h2>
  <h2 class='good-rate'>( pass {{% good_rate %}} )</h2>
</div>
<div class='host'>
  <div>
    <h2 class='title'>tests</h2>
    <pre>{{% tests %}}</pre>
  </div>
  <div>
    <h2 class='title'>stats</h2>
    <pre>{{% stats %}}</pre>
  </div>
  <div class='buttons'>
    <input
      type='button'
      id='query-button-{{% idx %}}'
      class='query_button'
      value='show query'
      v-on:click='showQuery'
    ></input>
  </div>
</div>
<div
  id='query-{{% idx %}}'
  class='query_none'
  v-on:click='hideQuery'
>
  <pre>{{% query %}}</pre>
</div>
<script>
  new Vue({
    el: '#query-button-{{% idx %}}',
    methods: {
      showQuery: function(ev){
        document.getElementById(
          'query-{{% idx %}}'
        ).setAttribute('class', 'query');
      },
    },
  });
  new Vue({
    el: '#query-{{% idx %}}',
    methods: {
      hideQuery: function(ev){
        document.getElementById(
          'query-{{% idx %}}'
        ).setAttribute('class', 'query_none');
      },
    },
  });
</script>
