﻿<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151465774-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'UA-151465774-1');
  </script>

  <title>Submarine.js - Infrastructure as js</title>

  <meta name='description' content='Welcoming page of Submarine.js' ></meta>
  <meta name='viewport' content='width=device-width, initial-scale=1'></meta>
</head>
<body>

  <style>
    * {
      font-family: helvetica;
      border: 0;
      margin: 0;
      padding: 0;
      /*overflow: hidden;*/
      word-wrap: break-word;
      background-color: rgba(0,0,0,0.0);
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>


  <style>
    header {
      width: 100%;

      background-color: rgba(0,71,171,1.0);
    }
    header a {
      text-decoration: none;
    }
    header h1 {
      padding: 17px 0px 0px 17px;

      color: rgba(255,215,0,1.0);
      /*color: rgba(239,69,74,1.0);*/
      font-size: 34px;
      font-weight: bold; 
    }
  </style>  
  <header>
    <a href='.'>
      <h1>Submarine.js</h1>
    </a>
  </header>


  <style>
    #sea {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 100%;

      background-color: rgba(0,71,171,1.0);
    }
    @media screen and (max-device-width: 850px) {
      #sea {
        justify-content: flex-end;
        align-items: flex-start;
      }
    }
    #catch {
      margin: 34px;

      color: rgba(255,215,0,1.0);

      font-size: 34px;
    }
    /*@media screen and (max-device-width: 850px) {
      #catch {
        font-size: 17px;
      }
    }*/
    #submarine {
      z-index: 51;
    }
    @media screen and (max-device-width: 850px) {
      #submarine {
        width: 100%;
      }
    }
    #to-source-code {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      position: absolute;
      z-index: 85;

      margin: 289px 0px 0px -272px;
    }
    @media screen and (max-device-width: 850px) {
      #to-source-code {
        position: relative;

        margin: 17px 0px 17px 17px; 
      }
    }
    .to-source-code {
      text-align: center;


      color: rgba(255,255,255,1.0);
      background-color: rgba(239,69,74,1.0);

      font-weight: bold;

      text-decoration: none;
    }
    .to-source-code:hover {
      color: rgba(255,215,0,1.0);

      cursor: pointer;
    }
    #download {
      padding: 34px;

      border-style: dashed;
      border-color: rgba(0,71,171,1.0);
      border-width: 17px;
      border-radius: 34px;

      font-size: 34px;
    }
    #filename {
      font-size: 17px;
    }
    #alternative {
      margin: 17px 0px 0px 0px;
      padding: 17px;

      border-radius: 17px;

      font-size: 17px;
    }
    #alternative2 {
      margin: 17px 0px 0px 0px;
      padding: 17px;

      border-radius: 17px;

      font-size: 17px;
    }
  </style>
  <div id='sea'>
    <h1 id='catch'>JavaScript makes ShellScript more scalable !</h1>
    <img
      id='submarine'
      src='submarine.png'
    ></img>
    <div id='to-source-code'>
      <a
        id='download'
        class='to-source-code'
        href='https://gitlab.com/mjusui/submarine/-/archive/latest/submarine-latest.tar.gz'
        download
      >
        <div>Download</div>
        <div id='filename'>submarine-latest.tar.gz</div>
      </a>
      <a
        id='alternative'
        class='to-source-code'
        href='https://gitlab.com/mjusui/submarine/tree/latest'
      >
        <div>or to Gitlab</div>
      </a>
      <a
        id='alternative2'
        class='to-source-code'
        href='https://gitlab.com/mjusui/submarine/tree/latest/doc/en/Tutrial'
      >
        <div>or Tutrials</div>
      </a>
   </div>
  </div>



  <style>
    #deep-sea {
      display: flex;
      justify-content: center;

      width: 100%;
      /*height: 100%;*/

      background-color: rgba(0,0,128,1.0);
    }
    @media screen and (orientation: portrait) {
      #deep-sea {
        flex-direction: column;
      }
    }
    #deep-sea section {
      flex: 34;

      margin: 17px;

      border-radius: 17px;

      background-color: rgba(0,183,206,1.0);
    }
    #deep-sea section:nth-child(2) {
      flex: 51;
    }
    #deep-sea h1,p {
      margin: 17px; 

      color: rgba(0,0,128,1.0);


      font-size: 17px;
    }
  </style>
  <div id='deep-sea'>
    <section v-for="sect in sects">
      <h1>{{ sect.title }}</h1>
      <p v-for='text in sect.texts'>{{ text }}</p>
    </section>
  </div>
  <script>
    const deep_sea=new Vue({
      el: '#deep-sea',
      data: {
        sects: [
          { title: 'About', texts: [
            'Submarine.js is an Exhaustive State Management Framework for IT Infrastructure.',
            'The prime discovery of it is that IaC for Massive ICT infrastructure is feasible merely with ShellScript and JavaScript.',
            'Submarine.js is featured by Class-based extension and all JavaScript (Node.js) features are available, CQS (Command Query Separation) design, so it is safer than other tools, and HTTP endpoint is exposable.',
          ], },
          { title: 'History', texts: [
            'The founder of Submarine.js is mjusui. He is an IT infrastructure engineer.',
            'Most of his career is maintaining Ansible code but he is not satisfied with its sequential execution because he is also a JavaScripter.',
            'So he writes some codes (of course in js) in order to cover wider range than any other configuration management system.',
            'This is Submarine.js and so I\'m sure you like it if you are a JavaScripter, SRE, or Hard IaC Programmer.',
          ], },
          /*{ title: 'News', texts: [
            'news',
          ], },*/
        ],
      },
    });
  </script>
  

  <style>
    footer {
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: rgba(25,25,112,1.0);
    }
    footer p {
      margin: 34px;

      width: 340px;

      color: rgba(0,183,206,1.0);

      font-size: 17px;
    }
  </style>
  <footer>
    <p id='contact.js'>
    </p>
  </footer>
  <script>
    document.getElementById(
      'contact.js'
    ).textContent=JSON.stringify({
      note: 'This JSON is not an error, just a unique design.',
      admin: 'mjusui',
      contact: 'https://twitter.com/mjusui',
      message: 'Im ok to get DM in Twitter.',
    }, null, 6);
  </script>


</body>
</html>
