<style>
  #main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #main pre {
    font-weight: bold;
  }
  .host {
    display: flex;

    color: rgba(70,130,180,1.0);
    background-color: rgba(51,51,51,1.0);
  }
  .host h2 {
    font-size: 17px;
  }
  .host div {
    margin: 0px 0px 0px 17px;
  }
  .host pre {
    padding: 17px;
  }
  .health {
    margin: 0px 0px 0px 17px;

    width: 17px;
    height: 17px;

  }
  .target {
    padding: 0px 0px 0px 17px;
  }
  .good-rate {
    padding: 0px 0px 0px 34px;
  }
  .title {
    padding: 0px 0px 0px 17px;
    color: rgba(51,51,51,1.0);
    background-color: rgba(70,130,180,1.0);
  }
  .query_button {
    height: 34px;

    margin: 17px 0px 0px 0px;
    padding: 0px 17px 0px 17px;

    color: rgba(70,130,180,1.0);

    border: dashed;
    border-width: 2px;
    border-radius: 17px 17px 17px 17px;
  }
  .query_button:hover {

    color: rgba(51,51,51,1.0);
    background-color: rgba(70,130,180,1.0);

    border: none;
  }
  .query {
    overflow: scroll;

    position: fixed;
    top: 68px;
    right: 17px;
    bottom: 68px;
    left: 17px;

    padding: 17px;

    color: rgba(70,130,180,1.0);
    background-color: rgba(51,51,51,0.68);
  }
  .query pre {
    white-space: pre-wrap;
  }
  .query_none {
    display: none;
  }
  #date {
    display: flex;
    justify-content: flex-end;

    color: rgba(70,130,180,1.0);
  }
</style>
<div id='main'>

{{% hosts %}}

  <div id='date'>
    <p>Fetched {{% date %}}</p>
  </div>

</div>
