<!DOCTYPE html>
<html>
<head>
  <title>Server state</title>
  <meta name='description' content='Server state from Submarine.js' ></meta>
  <meta name='viewport' content='width=device-width, initial-scale=1'></meta>
<body>

  <div>
    <p>Server state</p>
    <p>{{% x  %}}</p>
  </div>


</body>
</html>
